body {
    background-color: #c5e5e9;
    color: #2d2c2c;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 395px;

    /* border-style: ridge;
    border-color: #757cce; */
}

.react-chatbot-kit-chat-container {
    position: relative;
    width: auto;

    /* border-style: ridge;
    border-color: #1da044; */
}

.react-chatbot-kit-chat-inner-container {
    width: 390px;
    height: 100%;

    /* border-style: dotted;
    border-color: #a80e5b; */
}

.react-chatbot-kit-chat-header {
    color: #303AAA;
    height: 63px;
    left: 46px;
    top: 115px;
    direction: rtl;
    background-color: #F5F3F1;

    /* border-style: ridge;
    border-color: #9173eb; */
}

.react-chatbot-kit-chat-input-container {
    display: none;
}

.react-chatbot-kit-chat-message-container {
    padding: 0;
    background-color: #F5F3F1;

    /* height: 780px; */
    height: 600px;
    overflow-x: hidden;

    /* border-style: ridge;
    border-color: #1da044; */
}

.react-chatbot-kit-chat-input {}

.react-chatbot-kit-chat-input-form {}

.react-chatbot-kit-chat-input::placeholder {}

.react-chatbot-kit-chat-btn-send {}

.react-chatbot-kit-chat-btn-send-icon {}

.react-chatbot-kit-chat-bot-message-container {}

.react-chatbot-kit-chat-bot-avatar-container {}

.react-chatbot-kit-chat-bot-avatar-icon {}

.react-chatbot-kit-chat-bot-avatar-letter {}

.react-chatbot-kit-chat-bot-message {}

.react-chatbot-kit-chat-bot-message-arrow {}

.react-chatbot-kit-chat-bot-loading-icon-container {}

.chatbot-loader-container {}

#chatbot-loader #chatbot-loader-dot1 {}

#chatbot-loader #chatbot-loader-dot2 {}

#chatbot-loader #chatbot-loader-dot3 {}

.react-chatbot-kit-error {}

.react-chatbot-kit-error-container {}

.react-chatbot-kit-error-header {}

.react-chatbot-kit-error-docs {}

.front-logo-box {
    position:relative;
    /* left: 30px; */
    top: 100px;

    /* border-style: dotted;
    border-color: #1da044; */
}

.briefcase-logo {
    /* border-style: dotted;
    border-color: #763cd3; */
}

.free-legal-aid-logo {
    /* border-style: dotted;
    border-color: #eb6f0b; */
}

.lang-btn {
    background-color: #303AAA;
    border: #fff;
    /* border-radius: 15%; */
    position: relative;
    margin: auto;
    width: 320px;
    height: 50px;
    top: 265px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.custom-lang-btn-image {
    left: 50%;
    top: 10px;
}

.custom-ddm {
    max-height: 200px;
    overflow-y: scroll;
}

.custom-ddm-item {
    height: 30px;
}

.intro-page {
    width: 360px;
    height: auto;

    border-style: dotted;
    border-color: #eb6f0b;
}

.intro-item {
    margin: 67px auto;
    padding: 10px;
    position: relative;
    width: 332px;
    height: 380px;

    border-radius: 15px;
    border-style: dotted;
    border-color: #1e0beb;
}

.intro-item-title {
    width: 282px;
    height: 201px;
    border-style: dotted;
    border-color: #0bebd1;
}

.intro-title {
    text-align: right;
    font-size: 50px;
    color: #303AAA;

    border-style: dotted;
    border-color: #1e0beb;
}

.intro-item-content {


    border-style: dotted;
    border-color: #eb1e0b;
}

.intro-content {
    text-align: right;
    font-size: large;

    border-style: dotted;
    border-color: #eb8e0b;
}

.custom-scroll-logo-image {
    /* position: relative; */
    display: block;

    border-style: dashed;
    border-color: #2d2c2c;
}

.get-started-btn {
    background-color: #303AAA;
    border: #F5F3F1;
    margin: auto;
    position: relative;
    width: 186px;
    height: 40px;
    border-radius: 25px;

    border-style: dotted;
    border-color: #fefeff;
}

.get-started-btn:disabled {
    /* try to make it look regular and not grey */
}

.card {
    width: 214px;
    height: 282px;
    border: 2px solid #303AAA;
    border-radius: 20px;
    background-color: #f5f3f1;
    box-sizing: border-box;
    left: 55px;
    margin-left: 11px;
    word-wrap: break-word;
    padding-top: 20px;
}

.text-in-card {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 93.6%;
    text-align: right;
    color: #303AAA;
}

.example {
    width: 301px;
    height: 64px;
    border: 2px solid #303AAA;
    border-radius: 15px;
    background-color: #f5f3f1;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-top: 16px;
    word-wrap: break-word;
    font-family: 'Noto Sans', sans-serif;
    color: #303AAA;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    /** put box in the middle of the container */
    margin-left: auto;
    margin-right: auto;
}

.example-text {
    font-family: 'Noto Sans', sans-serif;
    color: #303AAA;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}