body {
    background-color: #c5e5e9;
    color: #2d2c2c;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 395px;

    /* border-style: ridge;
    border-color: #757cce; */
}

.react-chatbot-kit-chat-container {
    position: relative;
    width: auto;

    /* border-style: ridge;
    border-color: #1da044; */
}

.react-chatbot-kit-chat-inner-container {
    width: 390px;
    height: 100%;

    /* border-style: dotted;
    border-color: #a80e5b; */
}

.react-chatbot-kit-chat-header {
    color: #303AAA;
    height: 63px;
    left: 46px;
    top: 115px;
    direction: rtl;
    background-color: #F5F3F1;

    /* border-style: ridge;
    border-color: #9173eb; */
}

.react-chatbot-kit-chat-input-container {
    width: 390px;
}

.react-chatbot-kit-chat-message-container {
    padding: 0;
    background-color: #F5F3F1;

    /* height: 780px; */
    height: 600px;
    overflow-x: hidden;

    /* border-style: ridge;
    border-color: #1da044; */
}

.react-chatbot-kit-chat-input {
    width: 360px;
    height: 15px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-radius: 26.5px;
}

.react-chatbot-kit-chat-input-form {
    display: none;
}

.react-chatbot-kit-chat-input::placeholder {}

.react-chatbot-kit-chat-btn-send {
    background: #303AAA;
    border-radius: 26.5px;
    width: 70px;
    height: 40px;
    right: 0;
    top: 0px;
    position: absolute;
}

.react-chatbot-kit-chat-btn-send-icon {}

.react-chatbot-kit-chat-bot-message-container {}

.react-chatbot-kit-chat-bot-avatar-container {}

.react-chatbot-kit-chat-bot-avatar-icon {}

.react-chatbot-kit-chat-bot-avatar-letter {}

/** should be on left side */
.react-chatbot-kit-chat-bot-message {
    font-family: 'Noto Sans', sans-serif;
    background: #B8E5FF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #303AAA;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 30px 100px 100px 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.react-chatbot-kit-chat-bot-message-arrow {
    display: none;
}

.react-chatbot-kit-user-chat-message {
    font-family: 'Noto Sans', sans-serif;
    background: #303AAA;
    border-radius: 100px 70px 0px 100px;
    color: #F5F3F1;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    text-align: right;
    margin-right: 5px;
}

.react-chatbot-kit-user-chat-message-arrow {
    display: none;
}

.react-chatbot-kit-chat-bot-loading-icon-container {}

.chatbot-loader-container {}

#chatbot-loader #chatbot-loader-dot1 {}

#chatbot-loader #chatbot-loader-dot2 {}

#chatbot-loader #chatbot-loader-dot3 {}

.react-chatbot-kit-error {}

.react-chatbot-kit-error-container {}

.react-chatbot-kit-error-header {}

.react-chatbot-kit-error-docs {}

.front-logo-box {
    position:relative;
    /* left: 30px; */
    top: 100px;

    /* border-style: dotted;
    border-color: #1da044; */
}

.briefcase-logo {
    /* border-style: dotted;
    border-color: #763cd3; */
}

.free-legal-aid-logo {
    /* border-style: dotted;
    border-color: #eb6f0b; */
}

.lang-btn {
    background-color: #303AAA;
    border: #fff;
    /* border-radius: 15%; */
    position: relative;
    margin: auto;
    width: 320px;
    height: 50px;
    top: 265px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.custom-lang-btn-image {
    left: 50%;
    top: 10px;
}

.custom-ddm {
    max-height: 200px;
    overflow-y: scroll;
}

.custom-ddm-item {
    height: 30px;
}

.card {
    width: 214px;
    height: 282px;
    border: 2px solid #303AAA;
    border-radius: 20px;
    background-color: #f5f3f1;
    box-sizing: border-box;
    left: 55px;
    margin-left: 11px;
    word-wrap: break-word;
    padding-top: 20px;
}

.card-selected {
    width: 214px;
    height: 282px;
    border: 2px solid #303AAA;
    border-radius: 20px;
    background-color: #303AAA;
    box-sizing: border-box;
    left: 55px;
    margin-left: 11px;
    word-wrap: break-word;
    padding-top: 20px;
}


.text-in-card {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 93.6%;
    text-align: right;
    color: #303AAA;
}

.text-in-card-selected {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 93.6%;
    text-align: right;
    color: #F5F3F1;
}


.example {
    width: 301px;
    height: 64px;
    border: 2px solid #303AAA;
    border-radius: 15px;
    background-color: #f5f3f1;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-top: 16px;
    word-wrap: break-word;
    font-family: 'Noto Sans', sans-serif;
    color: #303AAA;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    /** put box in the middle of the container */
    margin-left: auto;
    margin-right: auto;
}

.example-text {
    font-family: 'Noto Sans', sans-serif;
    color: #303AAA;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.continue-button {
    font-family: 'Noto Sans', sans-serif;
    width: 146px;
    height: 39px;
    margin-top: 15px;
    background: #303AAA;
    color: #F5F3F1;
    font-size: 25px;
    font-weight: 700;
    border-radius: 30px;
}

/** put everything on the right */
.yes-no-buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.yes-no-button {
    font-family: 'Noto Sans', sans-serif;
    width: 100px;
    height: 39px;
    margin-top: 15px;
    background: #F5F3F1;
    color: #303AAA;
    font-size: 25px;
    font-weight: 700;
    background: #F5F3F1;
    border: 1px solid #303AAA;
    border-radius: 10px;
    margin-left: 5px;
}