body {
    background-color: #c5e5e9;
    color: #2d2c2c;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 395px;

    /* border-style: ridge;
    border-color: #757cce; */
}

.react-chatbot-kit-chat-container {
    position: relative;
    width: auto;

    /* border-style: ridge;
    border-color: #1da044; */
}

.react-chatbot-kit-chat-inner-container {
    width: 390px;
    height: 100%;

    /* border-style: dotted;
    border-color: #a80e5b; */
}

.react-chatbot-kit-chat-header {
    color: #303AAA;
    height: 63px;
    left: 46px;
    top: 115px;
    direction: rtl;
    background-color: #F5F3F1;

    /* border-style: ridge;
    border-color: #9173eb; */
}

.react-chatbot-kit-chat-input-container {
    width: 390px;
}

.react-chatbot-kit-chat-message-container {
    padding: 0;
    background-color: #F5F3F1;

    /* height: 780px; */
    height: 600px;
    overflow-x: hidden;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    /* border-style: ridge;
    border-color: #1da044; */
}

.react-chatbot-kit-chat-input {
    width: 360px;
    height: 15px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-radius: 26.5px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.react-chatbot-kit-chat-message-container::-webkit-scrollbar {
    display: none;
}

.react-chatbot-kit-chat-input {}

.react-chatbot-kit-chat-input-form {
    display: none;
}

.react-chatbot-kit-chat-input::placeholder {}

.react-chatbot-kit-chat-btn-send {
    background: #303AAA;
    border-radius: 26.5px;
    width: 70px;
    height: 40px;
    right: 0;
    top: 0px;
    position: absolute;
}

.react-chatbot-kit-chat-btn-send-icon {}

.react-chatbot-kit-chat-bot-message-container {}

.react-chatbot-kit-chat-bot-avatar-container {}

.react-chatbot-kit-chat-bot-avatar-icon {}

.react-chatbot-kit-chat-bot-avatar-letter {}

/** should be on left side */
.react-chatbot-kit-chat-bot-message {
    font-family: 'Noto Sans', sans-serif;
    background: #B8E5FF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #303AAA;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 30px 100px 100px 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.react-chatbot-kit-chat-bot-message-arrow {
    display: none;
}

.react-chatbot-kit-user-chat-message {
    font-family: 'Noto Sans', sans-serif;
    background: #303AAA;
    border-radius: 100px 70px 0px 100px;
    color: #F5F3F1;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    text-align: right;
    margin-right: 5px;
}

.react-chatbot-kit-user-chat-message-arrow {
    display: none;
}

.react-chatbot-kit-chat-bot-loading-icon-container {}

.chatbot-loader-container {}

#chatbot-loader #chatbot-loader-dot1 {}

#chatbot-loader #chatbot-loader-dot2 {}

#chatbot-loader #chatbot-loader-dot3 {}

.react-chatbot-kit-error {}

.react-chatbot-kit-error-container {}

.react-chatbot-kit-error-header {}

.react-chatbot-kit-error-docs {}

.front-logo-box {
    position: relative;
    /* left: 30px; */
    top: 100px;

    /* border-style: dotted;
    border-color: #1da044; */
}

.briefcase-logo {
    /* border-style: dotted;
    border-color: #763cd3; */
}

.free-legal-aid-logo {
    /* border-style: dotted;
    border-color: #eb6f0b; */
}

.custom-btn {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    background-color: #303AAA;
    border: #F5F3F1;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    border-radius: 20px;
    position: relative;
}

.custom-lang-btn {
    width: 320px;
    height: 50px;
    top: 265px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.custom-lang-btn-image {
    left: 50%;
    top: 10px;
}

.custom-ddm {
    max-height: 200px;
    overflow-y: scroll;
    width: auto;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.custom-ddm::-webkit-scrollbar {
    display: none;
}

.custom-ddm-item {
    height: 30px;
    width: auto;
}

.intro-page {
    width: 360px;
    height: auto;

    /* border-style: dotted;
    border-color: #eb6f0b; */
}

.intro-item {
    margin: 67px auto;
    padding: 10px;
    position: relative;
    width: 332px;
    height: 380px;

    border-radius: 20px;
    border: 2px solid #303AAA;
}

.intro-item-title {
    width: 282px;
    height: 201px;
    /* border-style: dotted;
    border-color: #0bebd1; */
}

.intro-title {
    text-align: right;
    font-size: 50px;
    color: #303AAA;

    /* border-style: dotted;
    border-color: #1e0beb; */
}

.intro-item-content {


    /* border-style: dotted;
    border-color: #eb1e0b; */
}

.intro-content {
    text-align: right;
    font-size: large;

    /* border-style: dotted;
    border-color: #eb8e0b; */
}

.custom-scroll-logo-image {
    margin-top: 50px;
    position: relative;
    margin-left: -180px;

    /* border-style: dotted;
    border-color: #0beb0b; */
}

.custom-intro-btn {
    position: relative;
    width: 186px;
    height: 40.35px;
    margin-bottom: 40px;

    font-size: 30px;
    line-height: 10px;

    /* border-style: dotted;
    border-color: #fefeff; */
}

.clickable-default {
    background-color: #f5f3f1;
    border: 2px solid #303AAA;
    border-right: 7px double #303AAA;
    border-bottom: 7px double #303AAA;
    color: #303AAA;
}

.clickable-som:hover {
    background-color: #f5f3f1 !important;
    border: 2px solid #303AAA !important;
    border-right: 7px double #303AAA !important;
    border-bottom: 7px double #303AAA !important;
    color: #303AAA !important;
}

/* todo: check how to implement it so that the
 original bootstrap implemintation won't be affected 
 on hover */
.clickable-default:hover {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e; /*set the color you want here*/
}

.clickable-selected {
    background-color: #303AAA;
    border: 2px solid #f5f3f1;
    border-right: 7px double #f5f3f1;
    border-bottom: 7px double #f5f3f1;
    color: #F5F3F1;
}

.card {
    width: 214px;
    height: 282px;
    border-radius: 20px;
    box-sizing: border-box;
    left: 55px;
    margin-left: 11px;
    word-wrap: break-word;
    padding-top: 20px;
    overflow-y: scroll;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.card::-webkit-scrollbar {
    display: none;
}

.text-in-card {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 93.6%;
    text-align: right;
}

.example {
    width: 301px;
    height: 64px;
    border-radius: 15px;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-top: 16px;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.card::-webkit-scrollbar {
    display: none;
}

.text-in-example {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /** put box in the middle of the container */
    margin-left: auto;
    margin-right: auto;
}

.continue-button {
    font-family: 'Noto Sans', sans-serif;
    width: 146px;
    height: 39px;
    margin-top: 15px;
    background: #303AAA;
    color: #F5F3F1;
    font-size: 25px;
    font-weight: 700;
    border-radius: 30px;
}

/** put everything on the right */
.yes-no-buttons {
    display: block;
    width: 100%;
    margin-right: 30px; 
    margin-bottom: 30px;
    text-align: right;
    

}

.yes-button {
    width: 100px;
    height: 42px;
    font-weight: 700;
    font-size: 22px;
}

.no-button {
    width: 100px;
    height: 42px;
    font-weight: 700;
    font-size: 22px;
    margin-right: 15px;
}

.custome-continue_btn {
    margin-top: 56.65px;
}